
/* Todo el documento */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-image: linear-gradient(to right,
    rgb(3, 95, 100) 0%,     /* Color 100% negro en el punto 0% y comienza a cambiar */
    rgb(4, 64, 90) 25%,     /* Color 100% azul en el punto 25% y comienza a cambiar */
    rgb(3, 37, 105) 50%,     /* Color 100% dorado en el punto 50% y comienza a cambiar */
    rgb(4, 64, 90) 75%,    /* Color 100% verde en el punto 75% y comienza a cambiar */
    rgb(3, 95, 100) 100%);
}

/* titulo */

h1{
    color: rgb(130, 193, 224);
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    font-size: 2.5rem;
    text-shadow: 4px 4px 0 rgba(20, 19, 19, 0.76);
}

/* desplegable de details */

.reglas{
    display: flex;
    justify-content: center;
    color:beige;
   margin: 2rem;
   padding: 2rem;
   font-size: 1.3rem;
   border: .2rem solid rgb(252, 250, 250);
   border-radius: 10%;
   background-color: black;
   min-height: 1rem;


}

details summary::marker{
    content: "👉 ";
    
}

details[open] summary::marker{
    content: "👇 ";
}

summary{
    cursor: pointer;
}

summary, p, li{
    margin: .8rem;
}

li{
    list-style: none;
    padding-left: 1.5rem;
    color: rgb(213, 223, 239);
}

li::before{
    content:"✦";
}

/* puntuación */

.puntosContainer{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
    color:beige;
   font-size: 1.6rem;
   margin: 2rem;
    padding: 6rem;
}


/* las opciones del jugador */

h2 {
    color: rgb(235, 240, 242);
    text-align: center;
    margin: 2rem;
    padding: .5rem;
    font-size: 2rem;
    text-shadow: 4px 4px 0 rgba(20, 19, 19, 0.76);
}

.elecciones{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem;
    padding: 3rem;
    flex-wrap: wrap;
}

/* botones */

.elige{
    font-size: 4rem;
    background-image: linear-gradient(to right,
    rgb(3, 95, 100) 0%,     /* Color 100% negro en el punto 0% y comienza a cambiar */
    rgb(4, 64, 90) 25%,     /* Color 100% azul en el punto 25% y comienza a cambiar */
    rgb(3, 37, 105) 50%,     /* Color 100% dorado en el punto 50% y comienza a cambiar */
    rgb(4, 64, 90) 75%,    /* Color 100% verde en el punto 75% y comienza a cambiar */
    rgb(3, 95, 100) 100%);
    border: .2rem solid rgb(252, 250, 250);
    border-radius: 20%;
    cursor: pointer; 
    
}

.btn{
    background-image: linear-gradient(to right,
    rgb(3, 95, 100) 0%,     /* Color 100% negro en el punto 0% y comienza a cambiar */
    rgb(4, 64, 90) 25%,     /* Color 100% azul en el punto 25% y comienza a cambiar */
    rgb(3, 37, 105) 50%,     /* Color 100% dorado en el punto 50% y comienza a cambiar */
    rgb(4, 64, 90) 75%,    /* Color 100% verde en el punto 75% y comienza a cambiar */
    rgb(3, 95, 100) 100%);
    border: .1rem solid rgb(252, 250, 250);
    border-radius: 20%;
    cursor: pointer;
    height: 8rem;
    width: 13rem;
    color: rgb(255, 251, 251);
    font-size: 1.2rem;
    text-shadow: 1px 1px 0 rgba(248, 246, 246, 0.76);
    margin-left: auto;
    margin-right: auto;
    padding: 3rem; 
    display: none;

   
    
    
}
.container-resultado{
    display: block;
    text-align: center;
    color: azure;
    font-size: 1.8rem;
}

.resultado{
    padding: .6rem;
}


.footer{
    margin: 2rem;
    padding: 2rem;
}